In [1]:
lst_lst = [[1,2,3,4,5], [6,7,8]]  # Nested list
lst = []                          # Flattened list
for x in lst_lst:
    for y in x:
        lst.append(y)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
lst_lst = [[1,2,3,4,5], [6,7,8]]  # Nested list
lst = []                          # Flattened list
for x in lst_lst:
    for y in x:
        lst.append(y)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
lst_lst = [[1,2,3,4,5], [6,7,8]]    # Nested list
lst = [y for x in lst_lst for y in x]     # Flattened list
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
def fibonacci(fib = [0,1]):
    for i in range(0,27):
        i = i -fib
    return fib

In [11]:
fibonacci(2)

2

In [45]:
import pandas as pd

In [46]:
factbook_pop

                        Name       Value
Pos
1                      China  1367485388
2                      India  1251695584
3             European Union   513949445
4              United States   321368864
5                  Indonesia   255993674
..                       ...         ...
234                  Tokelau        1337
235                     Niue        1190
236  Holy See (Vatican City)         842
237  Cocos (Keeling) Islands         596
238         Pitcairn Islands          48

[238 rows x 2 columns]

In [67]:
factbook_pop = pd.read_csv("/Users/annafonte/Downloads/c2119.csv", index_col=0)
factbook_obesity = pd.read_csv("/Users/annafonte/Downloads/c2228.csv", index_col=0)
df = factbook_pop.merge(factbook_obesity, on="Name")
df = df.rename(columns={"Name": "Country", "Value_x":"Population", "Value_y": "Obesity Rate"})
df = df[(df["Obesity Rate"] > 20) & (df["Population"] > 10000000)]
df = df.sort_values("Obesity Rate", ascending=False)
df = df.reset_index(drop="index")
df = df.head(10)

  
    # factbook_pop - This is the string that you will use as an argument for pandas read_csv function to
                     # read the data about country names and their populations 
    # factbook_obesity - This is the string that you will use as an argument for pandas read_csv function to
               # read the data about country names and their populations

In [72]:
type(df)

pandas.core.frame.DataFrame